.cards{
    margin: 1rem;
    padding: 1rem;
}

.card{
    background-color: rgb(77, 81, 84);
    color: white;
}

.custom-card {
    overflow-x: scroll;
}

.button-group {
    display: inline-flex;
    gap: 10px; /* Espacio horizontal entre los botones */
}
