body{
background-color: black;
}

.nav-button {  
    float: right;
    padding-right: 1rem;
    margin-right: 0.5rem;
}
 
.bt-navbar {
     margin-right: 0.5rem;
} 

.navbar-logo {
    height: 4rem;
    margin-left: 1rem;
}

.dropdown-menu{
    background-color: rgb(77, 81, 84);
    color: white;
    margin: 1rem;
    --bs-dropdown-min-width: 14rem;
}


.lidropdown{
    padding: 1rem;
}

h1{
    margin: 0 1rem 1rem 1rem;
    padding: 0 1rem 1rem 1rem;
    color: rgb(222, 170, 11);
}

.fa-solid{
    color: red;
}

.details{
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.detail{
    margin: 1rem;
    padding: 1rem;
}

p{
    color: white;
}